<!DOCTYPE html>
<head></head>
<style>
    table, th, td {
  border: 1px solid;
}
 h1 {
  background-color: green;
}

p {
  background-color: yellow;
}
table {
  width: 100%;
}
td {
  text-align: center;
}
table {
  width: 100%;
}

th {
  height: 70px;
}

</style>

<table >
  <tr>
    <th>REG NO</th>
    <th>ROLL NO </th>
    <th>PARENT SECTION</th>
    <th>NAME</th>
  </tr>
  <tr>
    <td>11111</td>
    <td>07</td>
    <td>p11</td>
    <td>zen</td>
  </tr>
  <tr>
    <td>22222</td>
    <td>08</td>
    <td>p12</td>
    <td>ben</td>
  </tr><tr>
    <td>33333</td>
    <td>09</td>
    <td>p13</td>
    <td>enn</td>
  </tr><tr>
    <td>44444</td>
    <td>10</td>
    <td>p11</td>
    <td>jinn</td>
  </tr>
  {{>content}}
</table>
</html>